<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Medidor KWh Serramar</title>
    <meta charset= "UTF-8">
    <link href="style.css" rel="stylesheet" />
</head>
<body>


   <div class="content" id="contentItens">

   <form action="/medicao" type="GET">
    <input type="submit"  value = "Registrar KWh">
    </form>  
    
    <form action="/medicaoKwhAdm" type="GET">
    <input type="submit"  value = "Registrar KWh ADM">
    </form>

    <form action="/medicaoAgua" type="GET">
    <input type="submit" value = "Registrar Agua">
    </form>

    <form action="/medicaoTemperaturaPa" type="GET">
    <input type="submit" value = "Registrar temperatura PA">
    </form>

    <form action="/medicaoEnergiaRenz" type="GET">
    <input type="submit" value = "Registrar Energia Renz">
    </form>

   </div>

</body>
</html>