<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Medidor KWh Serramar</title>
    <meta charset= "UTF-8">
    <link href="style.css" rel="stylesheet" />
</head>
<body>


   <div class="content">

   <form action="/medicao" type="POST">
    <input type="submit"  value = "Registrar KWh">
    </form>

    <form action="/medicao" type="POST">
    <input type="submit" value = "Registrar Agua">
    </form>

    <form action="/medicao" type="POST">
    <input type="submit" value = "Registrar Ar">
    </form>

   </div>

</body>
</html>