<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Medidor KWh Serramar</title>
    <meta charset= "UTF-8">
    <link href="style.css" rel="stylesheet" />
</head>
<body>


   <div class="content">
   <div id = "login">
     <div id="medicaoKWH">
       <center> <h3>Registro de KWh da ADM</h3> </center>
       </br>
    </div>

   <form action="/medicaoKwhAdm" method = "POST">
   <b>
   <p>
    <label for="email_login">KWh da ADM</label>
     <input id="email_login" name="reg1" required="required" type="text" />
    </p>
    
    <p>
       <input type="submit" value="Enviar Registros" />
     </p>
      <p>
        Registros sendo feitos por: <b><%= docsUser.nome_cad%></b>
     </p>
    </b> 
  </form>

  </div>

  </div>
      <div id = "buscakwh">
   <form action="/consultaKwhAdm" method="GET">
     <center> <h3>Busque aqui os registros </h3> </center>
    <input type="date" name="dtRegKwhAdm" placeholder="Consulte aqui">
    <input type="submit" value="Buscar">
   </form>
 </div>

<script type="text/javascript" src="js/script.js"><script>
</body>
</html>